node_modules
.DS_Store
dist
*.local
.idea
.presite
dist-ssr
.vite-ssg-temp
components.d.ts
auto-imports.d.ts
temp
sponsors.*
# drafts
# 注释掉以包含草稿目录
# drafts
*.log
src/data/sponsors-circles.json
public/assets/fonts
